<table class="table">
    <thead>
    <tr>
        <th scope="col">Nom de la sortie</th>
        <th scope="col">Date de sortie</th>
        <th scope="col">Cloture inscription</th>
        <th scope="col">inscrit/place</th>
        <th scope="col">etat</th>
        <th scope="col">inscrit</th>
        <th scope="col">organisateur</th>
        <th scope="col">action</th>
    </thead>
    <tbody>
    {% for event in events %}
        {% if (event.status.wording != 'Créer') or
            (event.status.wording is same as ('Créer') and event.organizer==app.user) %}
            <h1></h1>
            <tr>
                <th>{{ event.name }}</th>
                <td>{{ event.startAt | date("d/m/Y - H\\Hi") }}</td>
                <td>{{ event.deadLineInscriptionAt | date("d/m/Y") }}</td>
                <td>{{ event.registration.count }} / {{ event.maxPeople }}</td>
                <td>{{ event.status.wording }}</td>
                {% if app.user in event.registration %}
                    <td>X</td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>{{ event.organizer.firstName }}</td>
                <td>A faire aussi</td>
{#                 TODO : route pour modification : /event/edit/{id}#}
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>