{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}

{% block body %}

{{ form_start(form) }}
    <div class="row w-75 mx-auto mt-5">
        <div class="col-6">{{ form_label(form.name) }}{{ form_widget(form.name) }}</div>
        <div class="col-6">{{ form_label(form.campus) }}{{ form_widget(form.campus) }}</div>
        <div class="col-6">{{ form_label(form.startAt) }}{{ form_widget(form.startAt) }}</div>

        <div class="col-6">{{ form_label(form.city)  }} {{ form_widget(form.city)}}</div>

        <div class="col-6">{{ form_label(form.deadLineInscriptionAt) }}{{ form_widget(form.deadLineInscriptionAt) }}</div>
        <div class="col-6">
            <label>Lieux
                {% if edit == false%}
            <select class="form-select" id="location" name="location" disabled>
                <option value="0">choisir un lieu</option>
            </select>
                {% else %}
            </label>
           {{ form_label(form.location)  }} {{ form_widget(form.location)}}
                {% endif %}
        </div>
        <div class="col-6">{{ form_label(form.maxPeople) }}{{ form_widget(form.maxPeople) }}</div>
        <div class="col-6" id="info">

        </div>
        <div class="col-6" >{{ form_label(form.duration) }}{{ form_widget(form.duration) }}

        </div>
        <div class="col-6">{{ form_label(form.description) }}{{ form_widget(form.description) }}</div>
        <div class="d-flex justify-content-end">
            {{ form_label(form.submit) }}{{ form_widget(form.submit) }}
        </div>
    </div>

    {{ form_end(form) }}


{% endblock %}
{% block javascripts %}
    {{ parent() }}
{{ encore_entry_script_tags('event') }}

{% endblock %}


