{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}

{% block body %}

{{ form_start(form) }}
    <div class="row w-75 mx-auto mt-5">
        <div class="col-6">{{ form_label(form.name) }}{{ form_widget(form.name) }}</div>
        <div class="col-6">{{ form_label(form.campus) }}{{ form_widget(form.campus) }}</div>
        <div class="col-6">{{ form_label(form.startAt) }}{{ form_widget(form.startAt) }}</div>
        {% if edit == false %}
        <div class="col-6">{{ form_label(form.ville)  }} {{ form_widget(form.ville)}}</div>
        {% endif %}
        <div class="col-6">{{ form_label(form.deadLineInscriptionAt) }}{{ form_widget(form.deadLineInscriptionAt) }}</div>
        <div class="col-6">
            <label>Lieux
            <select class="form-select" id="location" name="location" disabled>
                <option value="0">choisir un lieu</option>
            </select>
            </label>
        </div>
        <div class="col-6">{{ form_label(form.maxPeople) }}{{ form_widget(form.maxPeople) }}</div>
        <div class="col-6" id="info">

        </div>
        <div class="col-6" >{{ form_label(form.duration) }}{{ form_widget(form.duration) }}

        </div>
        <div class="col-6">{{ form_label(form.description) }}{{ form_widget(form.description) }}</div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">valide</button>
        </div>
    </div>

    {{ form_end(form) }}


{% endblock %}
{% block javascripts %}

    <script>
        const loc = document.getElementById('location');
        const selectedCity = document.getElementById('event_ville');

        selectedCity.addEventListener('change',(e)=>{
            let idVille = e.target.value;
            if (idVille !== ''){
                loc.removeAttribute('disabled')
                getAssociatedLocation(idVille);
            } else {
                loc.setAttribute('disabled','true')
            }
        })
        function getAssociatedLocation(idVille) {
            let zip = 0 ;
            fetch('https://127.0.0.1:8000/api/location/'+idVille).then((res)=>
                res.json()
            ).then((data)=>{
                console.log(data)
                zip = data[0];
                let option ="<option value='0'>Choisir un lieux</option>";
                data[1].map(loc=>{
                    option += `<option value="${ loc.id }">${ loc.name }</option>`
                })
                loc.innerHTML = option
            })
            loc.addEventListener('change',(e)=>{
                const infos = document.getElementById('info');
                let idLocation = e.target.value;

                fetch('https://127.0.0.1:8000/api/detail/'+idLocation).then((res)=>
                    res.json()
                ).then((data)=>{
                    console.log(data);
                    infos.innerHTML =
                        `<div><p class="text-primary"> Rue :${data.street}</p> </div>
                     <div>
                        <p class="text-primary">code postal :${zip}</p>
                    </div>
                    <div>
                        <div> <label class="form-label">Latitude<input type="number" class="form-control" readonly value="${data.latitude}"></label></div>
                        <div> <label class="form-label">Longitude<input type="number" class="form-control" readonly value="${data.longitude}"></label></div>
                    </div>`;
                })
            })
        }













    </script>

{% endblock %}


