{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Afficher Sortie {% endblock %}

{% block body %}

    <div class="container-fluid pt-4">

    <h1>Afficher une sortie</h1>
    <a href="{{ path('app_event_subscribe', {'id': event.id}) }}" class="text-decoration-none">
        <button class="btn btn-success">S'inscrire</button>
    </a>

    <div class="d-flex flex-lg-row">
        <div class="col-6">
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <th class="col-4">Nom de la sortie :</th>
                    <td>{{ event.name }}</td>
                </tr>
                <tr>
                    <th class="col-4">Date et heure de la sortie :</th>
                    <td>{{ event.startAt ? event.startAt|date('Y-m-d H:i') : '' }}</td>
                </tr>
                <tr>
                    <th class="col-4">Date limite d'inscription :</th>
                    <td>{{ event.deadLineInscriptionAt ? event.deadLineInscriptionAt|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th class="col-4">Nombre de places disponibles :</th>
                    <td>{{ event.registration.count }} / {{ event.maxPeople }}</td>
                </tr>
                <tr>
                    <th class="col-4">Durée :</th>
                    <td>{{ event.duration }} minutes</td>
                </tr>
                <tr>
                    <th class="col-4">Description et infos :</th>
                    <td>{{ event.description }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-6">
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <th class="col-4">Campus :</th>
                    <td>{{ event.campus.name }}</td>
                </tr>
                <tr>
                    <th class="col-4">Lieu :</th>
                    <td>{{ event.location.name }}</td>
                </tr>
                <tr>
                    <th class="col-4">Rue :</th>
                    <td>{{ event.location.street }}</td>
                </tr>
                <tr>
                    <th class="col-4">Code postal :</th>
                    <td>{{ event.location.city.zipCode }}</td>
                </tr>
                <tr>
                    <th class="col-4">Latitude :</th>
                    <td>{{ event.location.latitude }}</td>
                </tr>
                <tr>
                    <th class="col-4">Longitude :</th>
                    <td>{{ event.location.longitude }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-3">

        <h4>Liste des participants inscrits</h4>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Pseudo</th>
                <th>Nom</th>
            </tr>
            </thead>
            <tbody>

            {% for registration in event.registration %}
                <tr>
                    <td><a href="{{ path('app_user',{'pseudo':registration.pseudo}) }}">{{ registration.pseudo }}</a></td>
                    <td>{{ registration.firstname }}{{ registration.lastname| upper }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

    </div>

{% endblock %}