{% extends "base.html.twig" %}

{% block title %}EniSortir - Créer un Lieu{% endblock %}
{% block body %}
    <div class="container">
    <h1 class="mt-4">Créer un lieu</h1>

        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.city) }}
            {{ form_widget(form.city) }}
            <div class="form_error">
                {{ form_errors(form.city) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            <div class="form_error">
                {{ form_errors(form.name) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.street) }}
            {{ form_widget(form.street) }}
            <div class="form_error">
                {{ form_errors(form.street) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.latitude) }}
            {{ form_widget(form.latitude) }}
            <div class="form_error">
                {{ form_errors(form.latitude) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.longitude) }}
            {{ form_widget(form.longitude) }}
            <div class="form_error">
                {{ form_errors(form.longitude) }}
            </div>
        </div>

        <div class="d-flex">
            <button type="submit" class="btn btn-primary">Créer un lieu</button>
            <a class="btn bg-secondary me-2" href="javascript:history.go(-1)">Annuler</a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}