{% extends "base.html.twig" %}

{% block body %}
    {% for message in app.flashes('failed') %}
        <div class="alert alert-danger mt-2" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container">
        <h1 class="mt-4">Modification du mot de passe</h1>

        {{ form_start(form) }}
      {{ form(form) }}
        <div class="form_error">
            {{ form_errors(form) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}