{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Profil Participant {% endblock %}

{% block body %}

    <div class="container-fluid pt-4">

    <h1>Profil participant</h1>

    <div class="d-flex flex-lg-row">
        <div class="container">
            <table>
                <img src="{{ vich_uploader_asset(user, 'imageFile') }}" width="320" alt="photo de profil">
            </table>

        </div>

        <div class="col-6" >
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <th class="col-4">Nom :</th>
                    <td>{{ user.lastName }}</td>
                </tr>
                <tr>
                    <th class="col-4">Prénom :</th>
                    <td>{{ user.firstName }}</td>
                </tr>
                <tr>
                    <th class="col-4">Pseudo :</th>
                    <td>{{ user.pseudo }}</td>
                </tr>
                <tr>
                    <th class="col-4">Email :</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th class="col-4">Campus :</th>
                    <td>{{ user.campus }}</td>
                </tr>
                </tbody>
            </table>
            <a href="{{ path('app_event_list')}}" class="btn btn-info">
                Retour</a>
        </div>
    </div>

{% endblock %}